async-timeout==4.0.2
bleak==0.19.5
boto3==1.26.59
botocore==1.29.59
colorzero==2.0
cycler==0.11.0
dbus-fast==1.84.0
gitdb==4.0.10
GitPython==3.1.30
gpiozero==1.5.1
h5py==3.8.0
humanize==4.4.0
iso8601==1.0.2
jmespath==1.0.1
kiwisolver==1.4.4
liu @ git+https://github.com/lowellinstruments/liu.git@6091149df750bcef0904abe450c3f3e3c0bd8967
matplotlib==3.4.3
numpy==1.24.1
pandas==1.5.3
Pillow==9.4.0
pyparsing==3.0.9
pyserial==3.5
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyudev==0.24.0
PyYAML==5.4.1
s3transfer==0.6.0
six==1.16.0
smmap==5.0.0
tzdata==2022.7
tzlocal==4.2
urllib3==1.26.14
