# the only case you use this file is when developing lowell-mat on Pycharm
# APP installations (DDH, fleak) use setup.py and empty it before installing

pytest
flake8
pytest-mock
h5py
numpy
pyserial
bleak
humanize
boto3
