pycodestyle
flake8
mock
pytest
# pytest-cov
numpy
pyserial
pytest-mock
crc16==0.1.1
h5py==2.10.0

# archived bluepy w/ shorter connection modification
git+https://github.com/LowellInstruments/bluepy.git
